@model IQueryable<RecipeMarket.Models.Przepis>

@{
    ViewBag.Title = "Na t@lerzu!";
}


<div class="row">
    <h2>@ViewBag.Odpowiedz</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NazwaPrzepisu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Kategorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DataDodania)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NazwaPrzepisu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategorie.FirstOrDefault().NazwaKategorii)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDodania)
                </td>
            </tr>
        }

    </table>

</div>